*,
*:before,
*:after {
    box-sizing: inherit;
}


html,
body {
    color: #000;
    background: linear-gradient(to top left, #99ff99 0%, #0066cc 100%);
    text-align: center;
    font-family: "Roboto", Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1em;
    display: block;
}

#title {
    font-family: "Poiret One", cursive;
    color: white;
    font-size: 2.5em;
}

#description {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1em;
    font-family: "Poiret One", cursive;
    color: white;
}

#survey-form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: ghostwhite;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-top: 30px;
}

.labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
    margin-top: 10px;
}

.rightTab {
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
}

.inpt {

    height: 30px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
}

.column {
    float: left;
    width: 50%;
    padding: 20px;
    margin-bottom: 30px;
}

.column p {
    font-size: .8em;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

fieldset {
    border-radius: 5px;
}

fieldset h4 {
    text-align: center;
}

#radioBtn {
    height: 250px;
    text-align: left;
    border: 1px solid cadetblue;
}

#radioBtn input {
    margin-left: 50px;
}



#checkBox {
    height: 250px;
    text-align: left;
    border: 1px solid cadetblue;
}

#checkBox input {
    margin-left: 50px;
}




#submit {
    background-color: cadetblue;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 96px;
    border: 0px solid;
}

#submit:hover {
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size: 1em;
    height: 40px;
    width: 96px;
    border: 1px solid cadetblue;
}

textarea {
    width: 60%;
    height: 80px;
    border-radius: 5px;
}

#cmts {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 0.8em;
}

sup {
    color: red;
}

#built {
    color: white;
    font-size: 1em;
    font-style: italic;
    font-family: "Poiret One", cursive;
}


@media screen and (max-width: 833px) {
    .inpt {
        width: 80%;
    }
    select {
        width: 90%;
    }

    #radioBtn input {
        margin-left: 30px;
    }
    #checkBox input {
        margin-left: 30px;
    }
    body {
        font-size: 1em;
    }

}

@media screen and (max-width: 520px) {
    .labels {
        width: 100%;
        text-align: left;
        margin-left: 5px;
        margin-bottom: 0px;
    }
    .rightTab {
        width: 80%;
        float: left;
    }
    .inpt {
        width: 100%;
        margin-top: 0px;
    }
    select {
        width: 100%;
    }

    .column {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    textarea {
        width: 80%;
        height: 80px;

    }

    #radioBtn input {
        margin-left: 10px;
    }
    #checkBox input {
        margin-left: 10px;
    }

    body {
        font-size: 1em;
    }


}